<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chartdemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiLineActivity"
            android:label="@string/title_activity_multi_line" >
        </activity>
        <activity android:name=".LineChartActivity2" />
        <activity
            android:name=".StatisticActivity"
            android:label="@string/title_activity_statistic" >
        </activity>
        <activity
            android:name=".SpecifyActivity"
            android:label="@string/title_activity_specify" >
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog" >
        </activity>
        <activity
            android:name=".MarkViewActivity"
            android:label="@string/title_activity_mark_view" >
        </activity>
    </application>

</manifest>
